/* колір основного фону #ffffff */
/* другорядний колір фону #2F303A */
/* додатковий колір фону #F5F4FA */
/* основний колір тексту #757575 */
/* другорядний колір тексту, заголовків #212121 */
/* додатковий колір тексту #ffffff */
/* основний колір акценту #2196F3 */
/* другорядний колір акценту #000000 */
/* додатковий колір фону карточок #EEEEEE */
/* колір футера rgba(255, 255, 255, 0.6) */

:root {
    --primary-bgc-color: #ffffff;
    --secondary-bgc-color: #2F303A;
    --add-bgc-color: #F5F4FA;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --add-text-color: #ffffff;
    --primary-accent-color: #2196F3;
    --secondary-accent-color: #000000;
    --card-accent-color: #EEEEEE;
    --footer-color: rgba(255, 255, 255, 0.6)
}

body {
    background-color: var(--primary-bgc-color);
    color: var(--primary-text-color);
}
.logo {
    color: var(--secondary-accent-color);
}
.logo-web {
    color: var(--primary-accent-color);
}

/* Site nav. Шапка сайту */

.site-nav .link {
    color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--primary-accent-color);
}
.site-nav .link.current {
    color: var(--primary-accent-color);
}

.contact .link {
    color: var(--primary-text-color);
}
.contact .link:hover,
.contact .link:focus,
.contact .number:hover {
    color: var(--primary-accent-color);
}

/* Hero */

.hero {
    background-color: var(--secondary-bgc-color);
}
.hero-title {
    color: var(--add-text-color);
}
.hero-button {
    color: var(--add-text-color);
    background-color: var(--primary-accent-color);
}

/* Особливості */

.section .title {
    color: var(--title-text-color);
}

/* Чим ми займаємося */

.section .features-list {
    color: var(--title-text-color);
}

/* Наша команда */

.team .team-title {
    color: var(--title-text-color);
}
.team .title {
    color: var(--title-text-color);
}
.team {
    background-color: var(--add-bgc-color);
}

/* Футер */

footer {
    color: var(--footer-color);
    background-color: var(--secondary-bgc-color);
}
footer .city {
    color: var(--add-text-color);
}
footer .logo {
    color: var(--add-text-color);
}
footer .link {
    color: var(--footer-color);
}

/* Сторінка Портфоліо */
/* Фільтри */

.filter .filter-button {
    color: var(--title-text-color);
    background-color: var(--add-bgc-color);
}
.filter .filter-button:hover,
.filter .filter-button:focus {
    color: var(--add-text-color);
    background-color: var(--primary-accent-color);
}

/* Приклади робіт */

.project a {
    color: var(--primary-text-color);
}
.project .title {
    color: var(--title-text-color);
}